body {
  background-color: aquamarine;
  margin: 0;
}
h1{
  color:darkgreen;
  padding: 0;
  margin: 0;   /* Removes space above box */ */
  font-family: 'Indie Flower', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}
header{
  background-color: white;

  }

  nav{
    background-color: darkgreen;

  }

  na ul{
    margin: 0;
  }

  nav li{

    display: inline-block;   /* Moves elements to be organized horizontally */
    /* background-color: red; */
    padding: 1em 6em;
  }

  nav a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: Pacifico;
    display: inline-block;
}

nav a:hover {
    /* font-weight: bold; */

}
#calendar{
    float: left;
    padding: .5em;
    margin: 1em 0 0 1em;
    border: 1px solid darkgreen;
    background-color: white;



}
#calendar li{
    color: darkgreen;

    font-size: 12
}

h2,h3{

    margin: 0;
}


#support{
      margin-left: 8em;
}
.left{
  float=left;

}



/*
  :link { color: #0000EE; }
  :visited { color: #551A8B; } */
